Repository algosup/2024-2025-project-1-fpga-team-2, pull requests merged in 2024-10, with the labels that each got.

#2 Management Files
  documents/management/project_charter.md
  documents/management/weekly_reports/weekly_report_1.md
Labels: documentation, Management

#4 functional => main
  .DS_Store
  .gitignore
  README.MD
  documents/functional/functional_specifications.md
  documents/images/functional/frogger_map.jpg
  documents/images/functional/raccoon.png
  documents/images/management/github_dark_logo.png
  documents/images/management/github_light_logo.png
  documents/images/management/linkedin_logo.png
Labels: documentation, Medium, Functional

#5 Basic Update to avoid conflict in the future
  README.MD
  documents/management/management_artifacts.md
  documents/management/weekly_reports/weekly_report_2.md
Labels: bug

#7 Final version
  documents/functional/functional_specifications.md
Labels: documentation, Review, Functional

#9 Technical => main
  .DS_Store
  .gitignore
  LICENSE.txt
  documents/.DS_Store
  documents/images/technical/goboard.jpg
  documents/images/technical/raccoon.png
  documents/images/technical/raccoon_bit_map.png
  documents/images/technical/vga_screen_schema.png
  documents/images/technical/winning_loosing_schema.png
  documents/technical/naming_conventions_and_rules.md
  documents/technical/technical_specification.md
Labels: documentation, Medium, Technical

#12 Management file change + weekly report week 3
  documents/management/management_artifacts.md
  documents/management/project_charter.md
  documents/management/weekly_reports/weekly_report_1.md
  documents/management/weekly_reports/weekly_report_2.md
  documents/management/weekly_reports/weekly_report_3.md
Labels: documentation, Weekly reports, Management

#13 Functional
  README.MD
  documents/functional/functional_specifications.md
  documents/readmeExtentions/fpga.md
  documents/readmeExtentions/verilog.md
Labels: documentation

#15 User manual
  .gitignore
  LICENSE.txt
  documents/.DS_Store
  documents/images/functional/frogger_map.jpg
  documents/images/functional/raccoon.png
  documents/images/technical/goboard.jpg
  documents/images/technical/raccoon.png
  documents/images/technical/raccoon_bit_map.png
  documents/images/technical/vga_screen_schema.png
  documents/images/technical/winning_loosing_schema.png
  documents/technical/naming_conventions_and_rules.md
  documents/technical/technical_specification.md
  documents/user_manual/.DS_Store
Labels: documentation

#16 error fix
  documents/technical/naming_convention_and_rules.md
  documents/technical/technical_specification.md
Labels: bug

#19 Qa branch (Document and image)
  .DS_Store
  documents/images/management/github_dark_logo.png
  documents/images/management/github_light_logo.png
  documents/images/management/linkedin_logo.png
  documents/images/qa/flowchart.png
  documents/qa/test_cases.md
  documents/qa/test_plan.md
Labels: documentation, Test

#21 Final code
  .gitignore
  documents/.DS_Store
  src/.sconsign.dblite
  src/Go_Board_Constraint.pcf
  src/abc.history
  src/apio.ini
  src/car_ctrl.v
  src/cars.txt
  src/constants.v
  src/debounce_switch.v
  src/dottedt.txt
  src/game_State.v
  src/grasstest.txt
  src/hardware.asc
  src/hardware.bin
  src/hardware.json
  src/led.v
  src/lives.v
  src/raccoon.txt
  src/raccoon_ctrl.v
  src/ram.v
  src/segment.v
  src/top.v
  src/vga.v
Labels: Program

#20 Weekly W4 + management artifacts
  documents/management/management_artifacts.md
  documents/management/weekly_reports/weekly_report_4.md
Labels: documentation, Weekly reports, Management

#22 Weekly w5
  documents/management/management_artifacts.md
  documents/management/weekly_reports/weekly_report_5.md
Labels: documentation, Weekly reports, Management
